<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Athletes</title>
</head>
<body>
	<h1>Athletes of the World</h1>
	<% if (athletes) %>
		<ol>
			<% athletes.each { |athlete| %> <li><a href="athletes/<%= athlete[0] %>"><%= athlete[1] %></a></li> <% } %>
		</ol>
	<% end %>

</body>
</html>