<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Athlete page</title>
</head>
<body>
	<h1><%= athlete[1] %></h1>
	<p><%= athlete[1] %> plays <%= athlete[2] %> </p>
	<br>
	<small><a href='/'>Go back to Hall of Fame</a></small>
</body>
</html>